.NavBar {
  height: 14vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 7px 10px -1px rgb(0, 0, 0, 0.1);
}

.logo-container-admin {
  display: flex;
  cursor: pointer;
  position: relative;
  width: 10rem;
}

.logo-admin {
  height: 3.5rem;
  padding-left: px;
}

.name {
  margin-top: 2rem;
  color: black;
}

.Admin-name {
  position: absolute;
  color: red;
  font-size: 14px;
  font-weight: 600;
  top: 60%;
  left: 36%;
}

.aside-container {
  display: flex;
  height: 86vh;
}

.aside-left {
  height: 100%;
  width: 20%;
  flex-direction: column;
  box-shadow: 7px 0px 10px -1px rgb(0, 0, 0, 0.1);
}

.aside-right {
  height: fit-content;
  width: 80%;
  flex-direction: column;
  background-color: rgb(236, 235, 235);
  display: flex;
  align-items: center;
  scroll-behavior: smooth;
}

.admin-feature {
  padding: 20px;
  text-align: center;
  font-family: "Arial Narrow Bold", sans-serif;
}

.admin-feature:hover {
  background-color: rgb(236, 235, 235);
}

.selected-admin {
  background-color: rgb(236, 235, 235);
  color: black;
}
