.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.cart-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.cart-empty-text {
  padding: 5rem;
}

.cart-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

.cart-table th,
.cart-table td {
  padding: 1rem;
  width: fit-content;
  text-align: center;
  border: 1px solid #ddd;
}

.cart-table th {
  background-color: #f4f4f4;
}

@media (max-width: 768px) {
  .cart-table th,
  .cart-table td {
    padding: 0.75rem;
  }

  .cart-table th {
    font-size: 14px;
  }

  .cart-table td {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .cart-table th,
  .cart-table td {
    padding: 0.5rem;
  }

  .cart-table th {
    font-size: 12px;
  }

  .cart-table td {
    font-size: 11px;
  }

  .cart-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .cart-table th,
  .cart-table td {
    display: inline-block;
    vertical-align: top;
  }
}

@media screen and (max-width: 520px) {
  .cart-empty-text {
    font-size: 1.7rem;
  }
}
