.login-sign-up {
  height: 88vh;
  width: 100vw;
  background-color: rgba(255, 228, 196, 0.658);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-sign-up-card {
  width: 40vw;
  padding: 2rem;
  background-color: white;
}

.login-sign-up-btn {
  width: 90%;
  padding: 1rem;
  font-size: 1rem;
  background-color: #cf3c3c;
  color: white;
  border: none;
  cursor: pointer;
}

.login-sign-up-text {
  color: #cf3c3c;
  cursor: pointer;
}

.checkbox-label {
  margin-left: 0.5rem;
}

.input-container {
  position: relative;
  width: 83%;
}

.login-sign-up-input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.2rem;
  font-size: 0.9rem;
  color: rgb(43, 42, 42);
}

.toggle-password-icon {
  position: absolute;
  right: -1rem;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 2.2rem;
  height: 2rem;
}

@media screen and (max-width: 1000px) {
  .login-sign-up-card {
    width: 50vw;
  }
}

@media screen and (max-width: 650px) {
  .login-sign-up-card {
    transform: scale(0.9);
  }
}
