.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.shop-category {
  width: 100vw;
}

.banner-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem;
}

.banner {
  width: 80vw;
}

.shop-category-cards-div {
  display: flex;
  justify-content: center;
}

.shop-category-card {
  max-width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
